body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #fff;
    width: 200px;
    height: auto;
    padding: 20px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation: aparecer 1.5s ease-in-out;
}

.titulo::after {
    content: "";
    display: block;
    background-color: black;
    width: auto;
    height: 1px;
}

.lista {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lista a {
    text-decoration: none;
    color: #708090;
    font-size: 20px;
    transition: 0.5s;
}

.lista a:hover {
    color: black;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}